@import url(https://db.onlinewebfonts.com/c/54ff549a54ee6bdf2fc828c0f8371da2?family=Schelter+Grotesk+NF+W01+Bold);

@font-face {
    font-family: Maga;
    src: url("../src/assets/fonts/Fontspring-DEMO-magazinegrotesque-regular.otf");
}
@font-face {
    font-family: Martin;
    src: url(../src/assets/fonts/Aston\ Martin\ Sans.ttf);
}

@font-face {
    font-family: Saans;
    src: url(../src/assets/fonts/saans-font.woff2);
}
@import "tailwindcss";

@theme{
    --font-maga:Maga , "sans-serif";
    --font-schelter:Schelter Grotesk NF , "san-serif";
    --font-martin:Martin,"san-serif";
    --font-saans:Saans,"san-serif";
}